.main-footer {
  position: relative;
  overflow: hidden;
  background-color: #000;
  color: #FFFFFFB3;

}

.main-footer__bg {
  position: absolute;
  inset: 0;
  z-index: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-widget__logo img {
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.main-footer__bg::after {
  content: "";
  position: absolute;
  inset: 0;

}

.main-footer__top .align-items-start {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-footer>*:not(.main-footer__bg) {
  position: relative;
  z-index: 1;
}

.main-footer__top {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 50px;
  padding-bottom: 40px;
}

.footer-gap-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-widget__info li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

.footer-widget__info li a {
  line-height: 1.2;
  text-align: justify;
}

.footer-widget__title {
  color: white;
}

.footer-widget__title_info {
  padding-left: 24px;
  padding-bottom: 5px;
}

.main-footer__top li a,
.footer-widget__about-text {
  color: #FFFFFFB3;
}

.footer-widget__about-text {
  font-size: 12px;
}

.footer-widget__logo {
  display: flex;
  justify-content: center;
}


.footer-widget__about-text .nowrap {
  white-space: nowrap;
}

.footer-widget--about {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.footer-widget__about-text {
  margin-top: auto;
  text-align: center;
}

.footer-widget--about {
  min-height: 300px;
}



.main-footer__top .padding-left-2 {
  padding-left: 5vw;
}

.main-footer__top .padding-left-3 {
  padding-left: 5.5vw;
}

.footer-widget--contact {

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Small */
@media (min-width: 576px) {
  .main-footer__top {
    max-width: 560px;
  }
}

/* Medium */
@media (min-width: 768px) {
  .main-footer__top {
    max-width: 750px;
  }
}

/* Large */
@media (min-width: 992px) {
  .main-footer__top {
    max-width: 980px;
  }

  .main-footer__top .padding-left-2 {
    padding-left: 3vw !important;
  }

  .main-footer__top .padding-left-3 {
    padding-left: 4.5vw !important;
  }

  .footer-height {
    height: 280px;
  }

  .list-unstyled {
    line-height: 2.7;
    font-size: 15px;
  }


}



@media (min-width: 1300px) {
  .footer-widget--about {
    gap: 18px;
  }

  .floens-social {
    padding-top: 28px;
  }
}

/* Extra large */
@media (min-width: 1200px) {
  .main-footer__top {
    padding: 40px 30px;
  }

  .main-footer__top .padding-left-2 {
    padding-left: 4vw !important;
  }

  .main-footer__top .padding-left-3 {
    padding-left: 4.5vw !important;
  }

  /* .floens-social {
        padding-top: 12px;
    } */
  .footer-widget__title_info {
    padding-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .footer-widget--about {
    gap: 28px;
  }
}

/* XXL */

@media (min-width: 1200px) {
  .footer-widget__logo img {
    width: 68%;
  }

  .main-footer__top {
    max-width: 1300px;
    padding-top: 40px;
    padding-bottom: 30px;
  }


  .footer-height {
    height: 320px;
  }

  .footer-widget__title_info {
    padding-bottom: 8px;
  }
}







@media (min-width: 1200px) and (max-width: 1399px) {
  .footer-widget--about {
    gap: 28px;
  }
}


@media (min-width: 1400px) {
  /* .footer-widget--about {
    gap: 18px;
  } */

  .main-footer__top {
    max-width: 1300px;
  }

  .footer-height {
    height: 325px;
  }

  /* .floens-social {
    padding-top: 28px;
  } */

}

@media (min-width: 1200px) and (max-width: 1299px) {
  .footer-widget--about {
    gap: 26px;
  }

  .floens-social {
    padding-top: 12px;
  }

}


/* Large */
@media (min-width: 1024px) and (max-width: 1199px) {
  .main-footer__top {
    max-width: 100vw;
    padding-left: 15px;
  }

  .footer-widget--about {

    gap: 6px;
    height: 90%;
  }

  .main-footer__top .padding-left-2 {
    padding-left: 6.3vw !important;
    padding-right: 0px;
  }

  .main-footer__top .padding-left-3 {
    padding-left: 6.5vw !important;
    padding-right: 0px;
  }

  .footer-height {
    height: 280px;
  }

  .list-unstyled {
    line-height: 2.7;
    font-size: 13px;
  }

  .footer-widget__about-text {
    margin-top: 0;
    font-size: 10px;
  }

  .footer-widget__logo img {
    width: 80%;
  }

  .footer-widget__title_info {
    padding-bottom: 9px;
  }

  .footer-widget__info .phone-bottom {
    margin-bottom: 0;
  }

  .floens-social {
    padding-top: 6px;
  }

  .footer-widget--about {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    height: 100%;
    display: flex;

  }
}

@media (min-width: 1200px) and (max-width: 1220px) {
  .footer-widget--about {
    gap: 18px;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  .main-footer__top {
    max-width: 100%;
    padding-left: 25px;
  }

  .footer-widget--about {

    gap: 10px;
    height: 10%;
    padding-left: 15px;
  }

  .main-footer__top .padding-left-2 {
    padding-left: 3.3vw !important;
    padding-right: 0px;
  }

  .main-footer__top .padding-left-3 {
    padding-left: 6.5vw !important;
    padding-right: 0px;
  }

  .footer-height {
    height: 280px;
  }

  .list-unstyled {
    line-height: 3.4;
    font-size: 12px;
  }

  .footer-widget__about-text {
    margin-top: 0;
    font-size: 9px;
  }

  .footer-widget__logo img {
    width: 95%;
  }

  .footer-widget__title_info {
    padding-bottom: 9px;
  }

  .footer-widget__info .phone-bottom {
    margin-bottom: 0;
  }

  .floens-social {
    padding-top: 6px;
  }

  .footer-widget--about {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    height: 100%;
    display: flex;

  }

  .footer-widget__title {
    font-size: 15px;
  }

}

.main-footer {
  li a {
    position: relative;
    text-decoration: none;
    color: inherit;
  }

  li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: red;
    transition: width 0.3s ease;
  }

  li a:hover {
    color: red;
  }

  li a:hover::after {
    width: 100%;
  }

  .footer-address a {
    text-decoration: none;
    color: inherit;
  }

  .footer-address a:hover {
    color: #ff0000;
    text-decoration-line: underline;
    text-decoration-color: #ff0000;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }
}

@media (max-width: 575px) {
  .footer-widget--contact {
    padding-top: 15px;
  }

  .main-footer__top {
    padding: 0;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .floens-social {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }

  .footer-widget--about {
    text-align: center;
    align-items: center;
  }

  .footer-widget__about-text {
    font-size: 11px;
    line-height: 1.6;
    padding: 0px;
    margin: 0;
    text-align: center;
  }
  .col-logo{
    padding: 0px;
    margin: 0;
  }

  /* .footer-widget__about-text .nowrap {
    white-space: normal !important;

  } */
  .footer-widget--about {
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    display: flex;
    justify-content: flex-start;
  }


  .footer-widget__logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer-logo {
    width: 100%;
    height: auto;
  }

  .mr-contact-0 {
    padding: 0;
  }

  .company-name,
  .company-short {
    display: block;
  }

}

@media (min-width: 1366px) {

  .footer-widget--about {
    gap: 20px;
  }

  .floens-social {
    padding-top: 12px;
  }
}

@media (max-width: 600px) {
  .floens-social {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }

}


.footer-widget__info li a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;

}

.footer-widget__info li a:hover {
  color: red;
  text-decoration-color: red;
}
.footer-widget__info li a::after {
  display: none !important;
}
