.page-gioithieu .about-two__bg {
  opacity: 0.2;
}

.about-one__image-grid {
  --gap: 30px;
  --circle-size: 165px;

  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.15fr;
  column-gap: var(--gap);
  align-items: stretch;
}

.about-one__image {
  width: 100%;
}

.about-one__image:first-child {
  display: grid;
  grid-template-rows: 0.95fr 1.45fr;
  row-gap: var(--gap);
}

.about-one__image:last-child {
  height: 100%;
}

.about-one__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.about-one__circle-text {
  position: absolute;
  width: var(--circle-size);
  height: var(--circle-size);

  left: 265px;
  top: 290px;

  transform: translate(-50%, -50%);
  z-index: 10;
}

.about-one__circle-text__bg {
  position: absolute;
  inset: 0;
  z-index: 1;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.about-one__circle-text__image {
  position: absolute;
  z-index: 2;

  width: calc(100% - 60px);
  height: calc(100% - 60px);
  object-fit: contain;

  
}

@keyframes rotateSymbol {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .about-two__image {
    display: flex;
    justify-content: center;
  }

  .about-two__image {
    margin-left: 0px;
  }

  .about-two__image__inner {
    width: 60vw;

  }


}

@media (max-width: 767px) {
  .about-one__image-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .about-one__image:first-child {
    grid-template-rows: auto;
    gap: 20px;
  }

  .about-one__image img {
    height: auto;
  }

  .about-one__circle-text {
    position: absolute;
    width: 165px;
    height: 165px;
    left: 210px;
    top: 235px;
    transform: translate(-50%, -50%);
    z-index: 10;
  }



}


.about-one__circle-text {
  position: absolute;
  width: 165px;
  height: 165px;
  left: 48%;
  top: 44%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

@media (max-width: 575px) {
  .about-one__image-grid {
    --gap: 10px;
    --circle-size: 95px;

    width: 100%;
    grid-template-columns: 1fr 1.15fr;
    column-gap: var(--gap);
  }

  .about-one__image:first-child {
    row-gap: var(--gap);
  }

  .about-one__circle-text {
    width: var(--circle-size);
    height: var(--circle-size);
    left: 40%;
    top: 40%;
  }

  @media (max-width: 575px) {
    .about-one__circle-text {
      position: absolute;
      top: 175px;
      left: 175px;
      width: 156px;
      height: 156px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      z-index: 11;
    }

    .about-one__circle-text__image {
      width: calc(100% - 60px);
      height: calc(100% - 60px);
    }

    .about-one__circle-text__bg {
      width: 140px;
      height: 140px;
    }
  }

  .about-two__list {
    justify-content: flex-start;
  }
}

@media (max-width: 375px) {
  @media (max-width: 575px) {
    .experience__year {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 1;
    }

    .experience__year span {
      display: block !important;
      margin-top: 6px;
      font-size: 18px !important;
    }
  }

  .about-one__circle-text__bg {
    width: 90px;
    height: 90px;
  }

  .about-one__circle-text__image {
    width: 50px;
    height: 50px;

  }


  .about-one__image:first-child {
    grid-template-rows: auto;
    gap: 10px;
  }

  .about-one__image img {
    height: auto;
  }

  .about-one__circle-text {
    position: absolute;
    width: 165px;
    height: 165px;
    left: 59%;
    top: 51%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .about-two__list {
    justify-content: flex-start;
  }
}

.page-gioithieu .about-two__button {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-gioithieu .about-two {
    padding-top: 50px;
  }

  .about-one .row {
    display: flex;
    justify-content: center;
  }

  .about-one .sec-title--border {
    padding-top: 30px;
  }

  .about-one__content .sec-title__tagline {
    top: -24px
  }
}

.experience__year {
  background-image:
    repeating-linear-gradient(120deg,
      rgba(255, 255, 255, 0.12) 0px,
      rgba(255, 255, 255, 0.12) 2px,
      transparent 2px,
      transparent 8px)
}

@media (max-width: 425px) {
  .about-one .sec-title {
    padding-top: 30px;
  }

}

@media (max-width: 575px) {

  .experience__year span {
    display: block !important;
    margin-top: 6px;
    font-size: 18px !important;
  }

  @media (max-width: 575px) {
    .section-space {
      padding-bottom: 40px;
    }
  }
}