.main-slider-two__carousel {
  position: relative;
  width: 100%;
  /* aspect-ratio: 10/4; */
  height: 700px;
  overflow: hidden;
  background-color: #000000;
}

.hero-bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-slider-two__bg {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  transition: transform 5s ease-out;
}

.main-slider-two__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out, visibility 2s ease-in-out;
  z-index: 1;
}

.main-slider-two__item.active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}


.main-slider-two__item.active .main-slider-two__bg {
  transform: scale(1.04);
}

.arrow-btn-click {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
  opacity: 0.7;
  transition: all 0.2s ease;
}

.arrow-btn-click:hover {
  opacity: 1;
  color: #c89156;
}

.hero-content p,
.hero-content h1,
.hero-content h2 {
  font-family: var(--floens-font5, "Roboto", sans-serif);
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .main-slider-two__wrapper {
    position: absolute;
    inset: 0 !important;

    max-width: 40% !important;
    height: 100% !important;
    z-index: 5;


    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .hero-content {
    text-align: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .hero-content h1 {
    font-size: 35px;
  }

  .hero-content p,
  .hero-content h2 {
    font-size: 18px;
  }

  .hero-slider .conteiner-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
  }
}

@media (max-width: 575px) {
  .main-slider-two__carousel {
    height: 250px;
    background-color: #000;
  }

  .main-slider-two__item {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 250px;
  }

  .hero-bg-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 250px;
    background-color: #000;
    overflow: hidden;
  }

  .main-slider-two__bg {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    object-position: center;
  }

  .main-slider-two__wrapper {
    position: absolute;
    inset: 0;
    z-index: 2;
    gap: 10px;
    height: 250px;
    padding: 0 !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-content {
    width: 40%;
    margin: 0;
    padding: 5px 8px;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
    background: #ffffff14;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);

    text-align: center;
  }

  .hero-subtitle {
    margin: 0 0 4px;
    font-size: 9px;
    font-weight: 700;
  }

  .hero-title {
    margin: 0 0 5px;
    font-size: 16px;
    line-height: 0.9;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
  }

  .hero-desc {
    margin: 0;
    font-size: 9px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
  }

  .hero-btn {
    height: auto;
    padding: 8px 8px;
    font-size: 9px;
  }

  .hero-btn i,
  .icon-right-arrow {
    width: 25px;
    height: 100%;
    color: inherit;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;

    display: inline-flex;
    position: relative;
  }

  .slider-arrow-bottom {
    gap: 5vw;
    font-size: 12px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero-slider .conteiner-btn {
    width: auto;
  }
}
