.topbar-one__info__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.topbar-one__info__item svg {
  width: 14px;
  height: 14px;
  
    color: red;
}
.topbar-one__info__item a {
  text-transform: none;
}

.projects-one__container {
  width: 100%;
  margin: 0;

  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0;
  align-items: center;
}

.projects-one__left {
  width: 100%;
  margin-left: 0;
}


@media (max-width: 991px) {
  .projects-one__container {
    grid-template-columns: 1fr;
  }

}
/* icon prev nav */
.projects-one__nav {
  display: flex;
  align-items: center;
  gap: 18px;
}

.projects-one__nav button {
  width: 58px;
  height: 58px;
  padding: 0;
  border: none;
  border-radius: 50%;

  background: transparent;
  color: #9b5a3c;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 34px;
  line-height: 1;
  cursor: pointer;
  transition: 0.3s ease;
}

.projects-one__nav button:hover {
  background: #9b5a3c;
  color: #fff;
}

/* about icon tick */
.about-check-icon {
  color: #cd3527;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.about-two__list__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* icon star */
.rating-stars {
  display: flex;
  gap: 4px;
  color: #FFCC00;
}

.product__item__link {
  width: 150px !important;
  height: 54px;
  padding: 0 18px !important;

  display: inline-flex !important;
  align-items: center;
  justify-content: space-between;
}

.product__item__link span {
  line-height: 1;
}

.product-cart-icon {
  width: 16px;
  height: 16px;
}
/* location */
.icon-location-2 {
  color:var(--floens-base, #c7844f);
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
/* icon f z y */

.footer-widget__social a svg {
  width: 60px;
  height: auto;
  border: 2px solid #F4CB74;
  color:#F4CB74;
}
.floens-social a svg {
  height: 30px;
  width: auto;
}

.slider-arrow-bottom {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
  gap: 5vw;
}
.slider-arrow-bottom div{
  display: flex;
}
.slider-arrow-bottom div:hover {

  color: red;
}
.header-icon-right{
  display: flex;
  gap:20px;
}
.header-icon-right a svg{
   width: 30px;
  height: auto;
 
}
.details-social a svg, .details-social a img{
    height: 30px;
  width: auto;
}
.details-social .icon-facebook {
    color: #1877f2;
  }
  .details-social .icon-youtube {
    color: red;
}
